/* Poppins */

@font-face {
  font-family: 'Poppins';
  src: url('asstes/fonts/poppins/Poppins-Regular.eot');
  src: local('Poppins Regular'), local('Poppins-Regular'),
      url('assets/fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/poppins/Poppins-Regular.woff2') format('woff2'),
      url('assets/fonts/poppins/Poppins-Regular.woff') format('woff'),
      url('assets/fonts/poppins/Poppins-Regular.ttf') format('truetype'),
      url('assets/fonts/poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Medium.eot');
  src: local('Poppins Medium'), local('Poppins-Medium'),
      url('assets/fonts/poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/poppins/Poppins-Medium.woff2') format('woff2'),
      url('assets/fonts/poppins/Poppins-Medium.woff') format('woff'),
      url('assets/fonts/poppins/Poppins-Medium.ttf') format('truetype'),
      url('assets/fonts/poppins/Poppins-Medium.svg#Poppins-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Libre Caslon Display */

@font-face {
  font-family: 'LibreCaslonDisplay-Regular';
  src: url('assets/fonts/libre-caslon-display/LibreCaslonDisplay-Regular.eot');
  src: local('Libre Caslon Display Regular'), local('LibreCaslonDisplay-Regular'),
      url('assets/fonts/libre-caslon-display/LibreCaslonDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/libre-caslon-display/LibreCaslonDisplay-Regular.woff2') format('woff2'),
      url('assets/fonts/libre-caslon-display/LibreCaslonDisplay-Regular.woff') format('woff'),
      url('assets/fonts/libre-caslon-display/LibreCaslonDisplay-Regular.ttf') format('truetype'),
      url('assets/fonts/libre-caslon-display/LibreCaslonDisplay-Regular.svg#LibreCaslonDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}