* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}


