.button {
  color: $black;
  background: transparent;
  border: none;
  padding: 6px 8px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;

  @mixin min720px {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 12px;
    gap: 10px;
  }

  img {
    height: 12px;
    width: auto;
  }

  &--border {
    outline: 1px solid;

    &:hover {
      outline: 2px solid;
    }
  }

  &--white {
    color: $white;
  }

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }

  &--text-only-for-desktop {
    display: none;

    @mixin min1200px {
      display: inline;
    }
  }
}