.about {
  &__hero {
    width: 100%;
    height: 320px;
    overflow: hidden;

    @mixin min480px {
      height: 360px;
    }

    @mixin min600px {
      height: 420px;
    }

    @mixin min834px {
      height: 480px;
    }

    @mixin min1024px {
      height: 540px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    background-color: $lightGrey;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;

    @mixin min768px {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @mixin min1440px {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    &__heading {
      font-size: 48px;
      line-height: 1.1;

      @mixin min1360px {
        font-size: 64px;
      }
    }

    &__text-head {
      grid-column: 1/5;
      grid-row: 1/2;
      text-align: center;
      padding-bottom: 36px;

      @mixin min600px {
        grid-column: 2/6;
      }

      @mixin min768px {
        grid-column: 1/9;
      }

      @mixin min1360px {
        grid-column: 3/9;
      }

      @mixin min1800px {
        grid-column: 4/10;
      }

      p {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;

        @mixin min1360px {
          max-width: 560px;
        }
      }
    }

    &__text-a {
      grid-column: 1/5;
      grid-row: 2/3;
      text-align: center;

      @mixin min600px {
        grid-column: 2/6;
      }

      @mixin min768px {
        grid-column: 1/5;
        grid-row: 2/3;
        text-align: left;
        padding-right: 32px;
      }

      @mixin min1360px {
        grid-column: 2/6;
      }

      @mixin min1800px {
        grid-column: 3/7;
      }

      img {
        display: none;

        @mixin min768px {
          display: block;
          width: 180px;
          height: auto;
          margin-left: auto;
          margin-right: auto;
          margin-top: 48px;
        }
        
      }
    }

    &__text-b {
      grid-column: 1/5;
      grid-row: 3/4;
      text-align: center;

      @mixin min600px {
        grid-column: 2/6;
      }

      @mixin min768px {
        grid-column: 5/9;
        grid-row: 2/3;
        align-self: end;
        text-align: left;
        padding-left: 32px;
      }

      @mixin min1360px {
        grid-column: 6/10;
      }

      @mixin min1800px {
        grid-column: 7/11;
      }

      img {
        width: 120px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 64px;
      }
    }

    &__quote {
      @mixin min1360px {
        max-width: 320px;
      }
    }
  }

  &__icons {
    padding-top: 60px;
    padding-bottom: 60px;

    @mixin min600px {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @mixin min1440px {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    &__list {
      text-align: center;
      grid-column: 1/5;

      @mixin min600px {
        grid-column: 2/6;
      }

      @mixin min768px {
        grid-column: 3/7;
      }

      @mixin min1024px {
        grid-column: 1/9;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
      }

      @mixin min1360px {
        grid-column: 1/11;
      }

      @mixin min1800px {
        grid-column: 2/12;
      }

      &-item {
        margin-bottom: 60px;

        @mixin min1024px {
          max-width: 360px;
        }
      }
    }

    &__image {
      width: auto;
      height: 80px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -72px;
      z-index: 9;
    }

    &__title {
      font-family: 'Poppins', Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: 500;
      position: relative;
      z-index: 10;
    }
  }
}