.about {
  &__hero {
    width: 100%;
    height: 320px;
    overflow: hidden;

    @mixin min480px {
      height: 360px;
    }

    @mixin min600px {
      height: 420px;
    }

    @mixin min834px {
      height: 480px;
    }

    @mixin min1024px {
      height: 600px;
    }

    @mixin min1360px {
      height: 720px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    background-color: $lightGrey;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
  
    &::before {
      content: "";
      background-image: url('assets/images/geometric_8.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.15;
      background-blend-mode: multiply;
    }

    @mixin min768px {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @mixin min1440px {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    &__motyl {
      width: 42px;
      height: 42px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 42px;

      @mixin min768px {
        margin-left: 0;
      }
    }

    &__heading {
      font-size: 48px;
      line-height: 1.1;

      @mixin min768px {
        max-width: 320px;
      }

      @mixin min1200px {
        max-width: none;
      }
    }

    &__text-a {
      grid-column: 1/5;
      grid-row: 1/2;
      text-align: center;

      @mixin min600px {
        grid-column: 2/6;
      }

      @mixin min768px {
        grid-column: 1/5;
        grid-row: 1/2;
        text-align: left;
        padding-right: 32px;
      }

      @mixin min1360px {
        grid-column: 2/6;
      }

      @mixin min1800px {
        grid-column: 3/7;
      }
    }

    &__text-b {
      grid-column: 1/5;
      grid-row: 2/3;
      text-align: center;

      @mixin min600px {
        grid-column: 2/6;
      }

      @mixin min768px {
        grid-column: 5/9;
        grid-row: 1/2;
        align-self: end;
        text-align: left;
        padding-left: 32px;
      }

      @mixin min1360px {
        grid-column: 6/10;
      }

      @mixin min1800px {
        grid-column: 7/11;
      }
    }

    &__quote {
      @mixin min1360px {
        max-width: 320px;
      }
    }
  }

  &__icons {
    padding-top: 60px;
    padding-bottom: 60px;

    @mixin min600px {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @mixin min1440px {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    &__list {
      text-align: center;
      grid-column: 1/5;

      @mixin min600px {
        grid-column: 2/6;
      }

      @mixin min768px {
        grid-column: 3/7;
      }

      @mixin min1024px {
        grid-column: 1/9;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
      }

      @mixin min1360px {
        grid-column: 1/11;
      }

      @mixin min1800px {
        grid-column: 2/12;
      }

      &-item {
        margin-bottom: 60px;

        @mixin min1024px {
          max-width: 360px;
        }
      }
    }

    &__image {
      width: auto;
      height: 80px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -72px;
      z-index: 9;
    }

    &__title {
      font-family: 'Poppins', Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: 500;
      position: relative;
      z-index: 10;
    }
  }
}