.homepage {
  &__hero {
    width: 100%;
    height: 240px;
    margin-top: 60px;
    overflow: hidden;

    @mixin min540px {
      height: 320px;
    }

    @mixin min720px {
      margin-top: 80px;
      height: auto;
    }

    img {
      height: 100%;
      width: auto;
      display: block;

      @mixin min720px {
        width: 100%;
        height: auto;
      }
    }

  }

  &__about {
    padding-top: 60px;
    padding-bottom: 60px;

    &__textbox {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @mixin min480px {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
      }

      @mixin min1024px {
        grid-column: 1 / 6;
        grid-row: 1 / 1;
      }

      @mixin min1440px {
        grid-column: 2 / 8;
        grid-row: 1 / 1;
        gap: 60px;
      }

      &__h2 {
        max-width: 566px;
      }
    }

    &__picture {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      position: relative;
      z-index: 5;

      @mixin min480px {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
      }

      @mixin min720px {
        grid-column: 3 / 7;
      }

      @mixin min1024px {
        grid-column: 6 / 9;
        grid-row: 1 / 1;
      }

      @mixin min1200px {
        grid-column: 6 / 11;
      }

      @mixin min1440px {
        grid-column: 7 / 12;
        grid-row: 1 / 1;
      }

      img {
        width: 100%
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 36px;
    }

  }

  &__services {
    background-color: $lightGrey;
    padding-top: 120px;
    padding-bottom: 120px;

    &__textbox {
      grid-column: 1 / 3;
      display: flex;
      flex-direction: column;
      gap: 36px;
      text-align: center;

      @mixin min480px {
        grid-column: 1 / 5;
      }

      @mixin min720px {
        grid-column: 1 / 7;
      }

      @mixin min1024px {
        grid-column: 1 / 9;
      }

      @mixin min1200px {
        grid-column: 1 / 11;
      }

      @mixin min1440px {
        grid-column: 1 / 13;
      }

      &__paragraph {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
      }

      &__list {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;

        @mixin min840px {
          max-width: 680px;
        }

        @mixin min1440px {
          max-width: 820px;
        }

        &-item {
          display: inline-block;
          position: relative;
          text-align: left;
          width: 100%;
          height: 68px;
          font-size: 24px;
          color: $mediumBrown;
          padding: 20px 26px 20px 42px;
          border: 1px solid $mediumBrown;
          margin-bottom: 36px;
          transition-property: background-color;
          transition-duration: .3s;

          @mixin min540px {
            font-size: 28px;
          }

          @mixin min840px {
            font-size: 32px;
            height: 86px;
            padding: 20px 26px 20px 42px;
            margin-bottom: 36px;
          }

          @mixin min1440px {
            font-size: 36px;
            padding: 24px 32px 24px 48px;
            margin-bottom: 36px;
          }

          &::before {
            content: "+";
            display: inline-block;
            position: relative;
            top: 0;
            left: -12px;
            transition-property: transform;
            transition-duration: .1s;
          }

          h3 {
            font-family: 'Poppins', Helvetica, Arial, sans-serif;
            font-size: 24px;
            display: inline;

            @mixin min540px {
              font-size: 30px;
            }

            @mixin min960px {
              font-size: 36px;
            }
          }

          p {
            display: none;
          }

          &:hover {
            background-color: rgba(104, 99, 93, .2)
          }

          &--revealed {
            height: fit-content;

            p {
              display: inline-block;
            }

            &::before {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }

  &__offers {

    &__textbox {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      gap: 32px;

      @mixin min720px {
        grid-column: 2 / 6;
      }

      @mixin min1024px {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
      }

      @mixin min1200px {
        grid-column: 2 / 6;
      }
    }

    &__offering {
      width: 100%;
      height: min-content;
      grid-column: 1 / 5;
      grid-row: 2 / 3;
      background-color: $lightGrey;

      @mixin min720px {
        grid-column: 2 / 6;
      }

      @mixin min1024px {
        grid-column: 5 / 9;
        grid-row: 1 / 2;
      }

      @mixin min1200px {
        grid-column: 7 / 11;
      }

      @mixin min1440px {
        grid-column: 8 / 12;
      }

      &__image {
        width: 100%;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
      }

      &__info {
        width: 100%;
        padding: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 18px;

        &-details {
          display: flex;
          flex-direction: row;

          li {
            font-size: 18px;
            font-weight: 500;
            padding: 6px 8px 6px 24px;
            position: relative;

            &::before {
              content: "";
              display: block;
              position: absolute;
              top: 6px;
              left: 0;
              width: 18px;
              height: 18px;
              background-image: url('assets/images/size-icon.svg');
              background-repeat: no-repeat;
            }

            &:nth-child(1), &:nth-child(2) {
              margin-right: 12px;
            }

            &:nth-child(2) {
              &::before {
                background-image: url('assets/images/room-icon.svg');
              }
            }

            &:nth-child(3) {
              &::before {
                background-image: url('assets/images/pin-icon.svg');
              }
            }
          }
        }

        &-heading {
          font-family: 'Poppins', Helvetica, Arial, sans-serif;
          font-size: 36px;
          font-weight: 500;
          margin-top: 0;
          margin-bottom: 0;
        }

        &-description {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 14px;
        }

        &-price {
          font-size: 36px;
          margin-top: 0;
          margin-bottom: 0;
        }

        &-button {
          position: absolute;
          right: 24px;
          bottom: 24px;
        }
      }
    }
    
  }

  &__problem {
    background-color: $mediumBrown;
    color: $white;

    &__textbox {
      grid-column: 2 / 12;

      &__list {
        display: flex;
        flex-direction: row;
        gap: 52px;
        padding-inline-start: 0;
        margin-top: 72px;
        margin-bottom: 72px;

        &-item {

          &::marker {
            font-size: 0px;
            text-indent: -9999px;
            opacity: 0;
          }

          h3 {
            font-size: 36px;
          }

          p {
            font-size: 18px;
            opacity: .75;
          }

        }
      }
    }

  }

}