.homepage {

  &__hero {
    width: 100%;
    height: 100svh;
    overflow: hidden;

    img {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      display: inline-block;
      object-fit: cover;
      position: relative;
      left: -50%;

      @mixin min600px {
        width: 100%;
        left: 0;
      }
    }

  }

  &__about {
    padding-top: 60px;
    padding-bottom: 18px;

    @mixin min430px {
      padding-bottom: 24px;
    }

    @mixin min480px {
      padding-bottom: 32px;
    }

    @mixin min1024px {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    &__textbox {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @mixin min480px {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
      }

      @mixin min600px {
        grid-column: 1/6;
      }

      @mixin min1024px {
        grid-column: 1 / 5;
        grid-row: 1 / 1;
      }

      @mixin min1200px {
        align-self: center;
      }

      @mixin min1360px {
        grid-column: 2/6;
      }

      @mixin min1440px {
        grid-column: 2 / 8;
        grid-row: 1 / 1;
        gap: 60px;
      }

      &__h2 {
        max-width: 566px;
      }

      p {
        max-width: 440px;
      }
    }

    &__picture {
      grid-column: 1 / 5;
      grid-row: 2 / 3;
      position: relative;
      z-index: 5;

      @mixin min480px {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
      }

      @mixin min600px {
        grid-column: 1/7;
      }

      @mixin min720px {
        grid-column: 3 / 7;
      }

      @mixin min768px {
        grid-column: 5/9;
        grid-row: 1/2;
        align-self: end;
      }

      @mixin min1024px {
        grid-column: 5 / 9;
      }

      @mixin min1360px {
        grid-column: 6/10;
      }

      @mixin min1440px {
        grid-column: 6 / 11;
      }

      img {
        width: 100%
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

  }

  &__quote {
    text-align: center;
    padding-bottom: 60px;

    p {
      grid-column: 1/5;

      @mixin min600px {
        grid-column: 2/6;
      }

      @mixin min768px {
        grid-column: 3/7;
      }

      @mixin min1360px {
        grid-column: 2/10;
        padding-top: 48px;
        padding-bottom: 48px;
      }

      @mixin min1800px {
        grid-column: 2/12;
      }

      q {
        line-height: 1.1;
        display: inline-block;
        margin-bottom: 18px;

        @mixin min768px {
          font-size: 36px;
        }

        @mixin min1360px {
          font-size: 48px;
          line-height: 1.15;
        }
      }
    }
  }

  &__why {
    padding-bottom: 0;
    background-color: #5A524A;
    color: $white;
    overflow: hidden;

    @mixin min1024px {
      padding-top: 0;
    }

    &__motyl {
      margin-left: auto;
      margin-right: auto;
      width: 48px;
      height: 48px;
      margin-bottom: 18px;

      @mixin min1024px {
        margin-left: 0;
      }
    }

    &__textbox {
      grid-column: 1/5;
      grid-row: 1/2;
      text-align: center;
      max-width: 506px;

      @mixin min600px {
        grid-column: 2/6;
      }

      @mixin min768px {
        grid-column: 2/8;
      }

      @mixin min1024px {
        grid-column: 1/5;
        text-align: left;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      @mixin min1360px {
        grid-column: 2/6;
        padding-right: 60px;
      }

      h2 {
        margin-bottom: 36px;
      }

      .button {
        margin-top: 32px;
        margin-bottom: 24px;
      }

      .button--centered {
        @mixin min1024px {
          margin-left: 0;
        }
      }
    }

    &__imagebox {
      grid-column: 1/5;
      grid-row: 2/3;
      overflow: hidden;

      @mixin min1024px {
        grid-column: 5/9 !important;
        grid-row: 1/2;
        width: calc(100% + 32px) !important;
        height: 100%;
        margin-left: 0 !important;
      }

      @mixin min1360px {
        grid-column: 6/11 !important;
        width: 120% !important;
      }

      @mixin min1440px {
        width: 130% !important;
      }

      @mixin min1560px {
        width: 150% !important;
      }

      @mixin min1800px {
        grid-column: 7/13 !important;
      }

      img {
        @mixin min1024px {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__offers {
    @mixin min1360px {
      padding-bottom: 120px;
      padding-top: 120px;
    }

    &__heading {
      font-size: 54px;
      line-height: 1.2;

      @mixin min768px {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      @mixin min1024px {
        font-size: 64px;
        line-height: 1.1;
      }

      @mixin min1360px {
        font-size: 80px;
      }
    }

    p {
      @mixin min768px {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .button {
      margin-left: auto;
      margin-right: auto;
    }

    &__flexbox {
      grid-column: 1/5;
      display: flex;
      flex-direction: column;
      gap: 32px;

      @mixin min600px {
        grid-column: 1/7;
      }

      @mixin min768px {
        grid-column: 2/8;
      }

      @mixin min1024px {
        grid-column: 1/9;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      @mixin min1360px {
        grid-column: 1/11;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 120px;
        width: 100vw;
        margin-left: calc(-1 * (100vw - 1308px) / 2);
        overflow-x: scroll;
        padding-left: calc((100vw - 1308px) / 2);
      }
    }

    &__textbox {
      grid-column: 1/5;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      @mixin min600px {
        grid-column: 1/7;
        padding-left: 24px;
        padding-right: 24px;
      }

      @mixin min768px {
        grid-column: 2/8;
        padding-left: 0;
        padding-right: 0;
      }

      @mixin min1024px {
        width: 540px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
      }

      @mixin min1360px {
        grid-column: 3/9;
        width: 100%;
        flex-shrink: 0;
        margin-bottom: 20px;
      }

      @mixin min1800px {
        grid-column: 4/10;
      }

      .button {
        @mixin min1024px {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &__offerbox {
      width: 100%;
      background-color: $lightGrey;
      margin-bottom: 48px;

      @mixin min1024px {
        width: 428px;
      }

      @mixin min1200px {
        width: 480px;
      }

      @mixin min1360px {
        width: 504px;
        flex-shrink: 0;
      }

      &:last-of-type {
        @mixin min1360px {
          margin-right: 120px;
        }
      }

      &__picture {
        width: 100%;
        height: 240px;
        overflow: hidden;

        @mixin min768px {
          height: 320px;
        }

        @mixin min1024px {
          height: 460px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__info {
        padding: 24px;

        &-details {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          li {
            font-size: 12px;
            line-height: 18px;
            font-weight: 500;
            padding: 6px 8px 6px 24px;
            position: relative;

            @mixin min480px {
              font-size: 14px;
            }

            @mixin min540px {
              font-size: 16px;
            }

            @mixin min768px {
              font-size: 18px;
            }

            &::before {
              content: "";
              display: block;
              position: absolute;
              top: 6px;
              left: 0;
              width: 18px;
              height: 18px;
              background-image: url('assets/images/size-icon.svg');
              background-repeat: no-repeat;
            }

            &:nth-child(1), &:nth-child(2) {
              margin-right: 12px;
            }

            &:nth-child(2) {
              &::before {
                background-image: url('assets/images/room-icon.svg');
              }
            }

            &:nth-child(3) {
              &::before {
                background-image: url('assets/images/pin-icon.svg');
              }
            }
          }
        }

        h3 {
          font-family: 'Poppins', Helvetica, Arial, sans-serif;
          font-size: 22px;
          font-weight: 500;
          margin-top: 12px;
          margin-bottom: 12px;
        }

        p {
          font-size: 16px;
        }

        p&-price {
          font-size: 18px;
          margin-bottom: 0;

          @mixin min768px {
            font-size: 22px;
          }

          span {
            color: $mediumBrown;
          }
        }
      }

      &__buttons {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @mixin min430px {
          flex-direction: row;
        }

        a.button {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }

  &__problem {
    background-color: $mediumBrown;
    color: $white;

    &__textbox {
      grid-column: 1 / 3;

      &__heading {
        text-align: center;
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 52px;
        padding-inline-start: 0;
        margin-top: 72px;
        margin-bottom: 72px;

        &-item {
          width: 80%;
          margin-left: auto;
          margin-right: auto;

          &::marker {
            font-size: 0px;
            text-indent: -9999px;
            opacity: 0;
          }

          h3 {
            font-size: 36px;
          }

          p {
            font-size: 18px;
            opacity: .75;
          }

        }
      }
    }

  }

}