.offers {

  &__hero {
    width: 100%;
    height: 320px;
    overflow: hidden;

    @mixin min480px {
      height: 360px;
    }

    @mixin min600px {
      height: 420px;
    }

    @mixin min834px {
      height: 480px;
    }

    @mixin min1024px {
      height: 600px;
    }

    @mixin min1360px {
      height: 720px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__filterbox {
    grid-column: 1/5;
    text-align: center;
    padding-bottom: 48px;
    padding-top: 48px;

    @mixin min600px {
      grid-column: 1/7;
    }

    @mixin min768px {
      grid-column: 2/8;
    }

    @mixin min1360px {
      grid-column: 2/10;
      padding-top: 120px;
      padding-bottom: 120px;
    }

    h1 {
      font-size: 48px;
      line-height: 1.1;

      @mixin min600px {
        font-size: 60px;
      }
    }

    &__form {
      display: none;
    }
  }
}