.services {
  &__hero {
    width: 100%;
    height: 320px;
    overflow: hidden;

    @mixin min480px {
      height: 360px;
    }

    @mixin min600px {
      height: 420px;
    }

    @mixin min834px {
      height: 480px;
    }

    @mixin min1024px {
      height: 600px;
    }

    @mixin min1360px {
      height: 720px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__tabs {
  background-color: $lightGrey;
  padding-top: 60px;
  padding-bottom: 60px;

  @mixin min1360px {
    padding-top: 120px;
    padding-bottom: 120px;
  }

    &__textbox {
      grid-column: 1 / 5;
      display: flex;
      flex-direction: column;
      gap: 36px;
      text-align: center;

      @mixin min600px {
        grid-column: 2 / 6;
      }

      @mixin min768px {
        grid-column: 2 / 8;
      }

      @mixin min1024px {
        grid-column: 1 / 9;
      }

      @mixin min1200px {
        grid-column: 1 / 11;
      }

      @mixin min1440px {
        grid-column: 1 / 13;
      }

      &__paragraph {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
      }

      &__list {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;

        @mixin min834px {
          max-width: 680px;
        }

        @mixin min1440px {
          max-width: 820px;
        }

        &-item {
          display: inline-block;
          position: relative;
          text-align: left;
          width: 100%;
          height: 68px;
          font-size: 24px;
          color: $mediumBrown;
          padding: 20px 26px 20px 42px;
          border: 1px solid $mediumBrown;
          margin-bottom: 36px;
          transition-property: background-color;
          transition-duration: .3s;

          @mixin min540px {
            font-size: 28px;
            height: 72px;
          }

          @mixin min834px {
            font-size: 32px;
            height: 86px;
            padding: 20px 26px 20px 42px;
            margin-bottom: 36px;
          }

          &::before {
            content: "+";
            display: inline-block;
            position: relative;
            top: 0;
            left: -12px;
            transition-property: transform;
            transition-duration: .1s;
          }

          h3 {
            font-family: 'Poppins', Helvetica, Arial, sans-serif;
            font-size: 24px;
            display: inline;

            @mixin min540px {
              font-size: 30px;
            }
          }

          p {
            display: none;
          }

          &:hover {
            background-color: rgba(104, 99, 93, .2)
          }

          &--revealed {
            height: fit-content;

            p {
              display: inline-block;
            }

            &::before {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }

  &__icons {
    padding-top: 60px;
    padding-bottom: 60px;

    @mixin min600px {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @mixin min1440px {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    &__textbox {
      text-align: center;
      grid-column: 1/5;
      margin-bottom: 60px;

      @mixin min600px {
        grid-column: 2/6;
      }

      @mixin min768px {
        grid-column: 3/7;
      }

      @mixin min1024px {
        grid-column: 3/9;
      }

      @mixin min1800px {
        grid-column: 2/12;
      }
    }

    &__list {
      text-align: center;
      grid-column: 1/5;

      @mixin min600px {
        grid-column: 2/6;
      }

      @mixin min768px {
        grid-column: 3/7;
      }

      @mixin min1024px {
        grid-column: 1/9;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
      }

      @mixin min1360px {
        grid-column: 1/11;
      }

      @mixin min1800px {
        grid-column: 2/12;
      }

      &-item {
        margin-bottom: 60px;

        @mixin min1024px {
          max-width: 360px;
        }
      }
    }

    &__image {
      width: auto;
      height: 80px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -72px;
      z-index: 9;
    }

    &__title {
      font-family: 'Poppins', Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: 500;
      position: relative;
      z-index: 10;
    }
  }
}